# .venv\Scripts\pip install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu130 --force-reinstall --no-cache-dir
--extra-index-url https://download.pytorch.org/whl/cu130/

# Requirements for multi_stochastic_quad_rotation.py and Flask Web Monitor

# Web framework
Flask>=3.0.0
flask-cors>=4.0.0

# Core data processing
pandas>=2.2.0
numpy>=1.26.0

# Cryptocurrency data fetching
ccxt>=4.0.0
pandas_ta
python-binance>=1.0.19

# Interactive plotting and visualization
plotly>=5.18.0

# Static plotting (for multi_stochastic_quad_rotation.py)
matplotlib>=3.7.0
mplfinance>=0.12.9b7

# Statistical analysis
scipy>=1.10.0

# HTTP requests
requests>=2.31.0

# Deep Learning & Pattern Recognition
# torch>=2.0.0
scikit-learn>=1.3.0
tqdm>=4.66.0

kaleido>=0.2.1



# Telegram Bot
python-telegram-bot>=20.0
python-dotenv

# Apex Integration Service
apexomni
fastapi
uvicorn[standard]
pydantic
web3
ecdsa
mpmath
sympy>=1.13.3
python-dateutil
websocket-client

